{# Here comes the <%= props.names.lowercase.default %> markup #}
{% if <%= props.names.snakecase.default %>.attributes %}
  {% set attributes = create_attribute(<%= props.names.snakecase.default %>.attributes) %}
{% else %}
  {% set attributes = create_attribute() %}
{% endif %}


{% set classes = [
  'c-<%= props.names.kebabcase.default %>'
] %}
{% set attributes = attributes.addClass(classes) %}


<div {{ attributes }}>
  {{ <%= props.names.snakecase.default %>.title }}
</div>